{% extends "base.html" %}

{% block content %}
 <style>
    body{
        width: 100vw;
    }
    footer{
        width: 100%;
        bottom: 0;
    }footer div div{
        width: auto;
        display: flex;
        flex-direction: column;
        background: transparent;
        align-items: flex-start;

    }
  form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 100px auto;
    }
    form p{ 
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
form input{
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}
 .button{
    min-width: 100px;
    padding: 7px 20px;
    background: rgb(1, 12, 22);
    border-radius: 20px;
    box-shadow: 1px 3px 9px 4px rgba(0, 0, 0, 0.184);
    color: aliceblue;

  }
  .button a{
    color: aliceblue;

  }
  </style>
<div>
    <h1>Password reset complete</h1>
    <p>you've succesfully reset your password. <a href="{% url 'login'%}" class="button"> Click here to login</a></p>
    
</div>


{% endblock content %}