

{% extends "main.html" %}
{% load static %}



{% block content %}
<!-- <nav>
    <div class="company-logo">
        <img src="{% static 'images/logo1.png' %}" alt="Kybic">
    </div>

</nav> -->



<style>
  .button{
    min-width: 100px;
    padding: 7px 20px;
    background: rgb(1, 12, 22);
    border-radius: 20px;
    box-shadow: 1px 3px 9px 4px rgba(0, 0, 0, 0.184);
    color: aliceblue;

  }
  .button a{
    color: aliceblue;

  }
  /* .texth .show button:active{
    background: brown !important;
  } */
  .button img{
     width: 50px;
     height: 50px;
  }

  section{
      display: none;
  }
  .sub-container  table{
      
  }
  section {
    padding: 20px;
    box-shadow:inset -5px 0px 11px 1px rgba(0, 0, 0, 0.025195);
    background: #d7d9ed;
  }
  .show div {
    margin: auto 20px;
  }
  .show div img{
    margin: auto ;
  }
  .show div button{
    margin:10px  auto ;
    min-width: 85px;
    padding: 0px 10px;
    border-radius: 100px;
    border: 2px solid black;
  }
  .show div .active{
     background: #000000;
    color: white;
    border-radius: 100px;

  }
    .show div  img{
      width:35px;
    }
</style>

<div class="sub-container texth"> 
<!-- Content -->
 <div class="show md:ml-8" style=" margin: 10px; margin-top: 20px;">
  <div>
    <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/delete-user-male.png" alt="delete-user-male"/>
      <button class="active" onclick="showSection(0)">
        Due      
      </button>
    </div>
    <div>
      <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/today.png" alt="today"/>
      <button onclick="showSection(1)">
        Today
      </button>
    </div>
    <div>
      <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/event-accepted-tentatively.png" alt="event-accepted-tentatively"/>
      <button onclick="showSection(2)">
        Upcoming
      </button>
    </div>
    <div>
      <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/tear-off-calendar.png" alt="tear-off-calendar"/>
      <button onclick="showSection(3)">
        Someday
      </button>
    </div>
      <!-- <button onclick="showSection(4)">
        <img width="24" height="24" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/external-recruitment-agency-rejected-candidate-due-to-incompatibility-jobs-bold-tal-revivo.png" alt="external-recruitment-agency-rejected-candidate-due-to-incompatibility-jobs-bold-tal-revivo"/>
        No follow up
      </button> -->
      <p>{{table_id}}</p>
    </div>
    <div class="fav">
    <div class="bg-white ">
        <div class="container w-full  px-2">
            <!--Title-->
            {% comment %} {% for status, leads in leads_by_status.items %}
           
            <section>
                <h1 class="flex items-center font-sans font-bold break-normal text-black-500 mt-8 px-3 pt-3 text-xl md:text-xl">
                    {{ status }}  
                </h1>
              <!--Card-->
              <div id='recipients' class="p-3 mt-3 lg:mt-0 rounded  bg-white">
                <table  class="lead-list stripe hover table" id="" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                  <thead>
                    <tr>
                        <th>Lead Name , {{table_id}}</th>
                        <!-- <th>Campaign Name</th> -->
                        <th>Date Added</th>
                        <th>View More</th>
                    </tr>
                  </thead>
                 <tbody>
                    {% for lead in leads %}
                        <tr>
                            <td>{{ lead.first_name }} {{ lead.last_name }} </td>
                            <td>{{ lead.date_added }}</td>
                            <td>                                
                                <a href="{% url 'leads:lead-detail' campaign_id=lead.campaign_id pk=lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                    Details
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No leads found.</td>
                        </tr>
                    {% endfor %}
                 </tbody>
                </table>
              </div><!--/Card-->
            </section>
              {% endfor %} {% endcomment %}
              
              <section class="">
                <div class="sub-cont overflow-x-scroll md:ml-8" style="margin: 5px; max-width: none;">      
                    <h2 class="mb-10 font-bold text-2xl md:text-4xl" style=" margin: auto; margin-bottom: 10px;text-align: center;font-size: 1.6rem;">Follow up due</h2>
                    <!-- <p>This is the follow up leads section.</p> -->
                    <table id="example1" class="lead-list stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                      <thead>
                        <tr>
                          <th data-priority="1">Name</th>
                          <th data-priority="2">Date Added</th>
                          <th data-priority="3">Campaign Name</th>
                          <th data-priority="4">Source</th>
          
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in overdue_leads %}
                          <tr>
                              <td>
                                <a href="{% url 'leads:lead-detail' campaign_id=lead.campaign_id pk=lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                  {{ lead.first_name }}
                                </a>
                              </td>
                              <td>{{ lead.date_added }}</td>
                              <td>{{ lead.campaign}}</td>
                              <td>{{ lead.source}}</td>
                          </tr>
                        {% endfor %}                      
                      </tbody>
                    </table>
                </div>
              </section>
              <section class="">
                <div class="sub-cont overflow-x-scroll md:ml-8" style="margin: 5px; max-width: none;">      
                    <h2 class="mb-10 font-bold text-2xl md:text-4xl" style=" margin: auto; margin-bottom: 10px;text-align: center;font-size: 1.6rem;">Today Leads</h2>
                    <!-- <p>This is the follow up leads section.</p> -->
                    <table id="example2" class="lead-list stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                      <thead>
                        <tr>
                          <th data-priority="1">Name</th>
                          <th data-priority="2">Date Added</th>
                          <th data-priority="3">Campaign Name</th>
                          <th data-priority="4">Source</th>
          
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in today_leads %}
                          <tr>
                              <td>
                                <a href="{% url 'leads:lead-detail' campaign_id=lead.campaign_id pk=lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                  {{ lead.first_name }}
                                </a>
                              </td>
                              <td>{{ lead.date_added }}</td>
                              <td>{{ lead.campaign}}</td>
                              <td>{{ lead.source}}</td>
                          </tr>
                        {% endfor %}                      
                      </tbody>
                    </table>
                </div>
              </section>
              <section class="">
                <div class="sub-cont overflow-x-scroll md:ml-8" style="margin: 5px; max-width: none;">      
                    <h2 class="mb-10 font-bold text-2xl md:text-4xl" style=" margin: auto; margin-bottom: 10px;text-align: center;font-size: 1.6rem;">Upcoming Leads</h2>
                    <!-- <p>This is the follow up leads section.</p> -->
                    <table id="example3" class="lead-list stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                      <thead>
                        <tr>
                          <th data-priority="1">Name</th>
                          <th data-priority="2">Date Added</th>
                          <th data-priority="3">Campaign Name</th>
                          <th data-priority="4">Source</th>
          
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in upcoming_leads %}
                          <tr>
                              <td>
                                <a href="{% url 'leads:lead-detail' campaign_id=lead.campaign_id pk=lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                  {{ lead.first_name }}
                                </a>
                              </td>
                              <td>{{ lead.date_added }}</td>
                              <td>{{ lead.campaign}}</td>
                              <td>{{ lead.source}}</td>
                          </tr>
                        {% endfor %}                      
                      </tbody>
                    </table>
                </div>
              </section>
              <section class="">
                <div class="sub-cont overflow-x-scroll md:ml-8" style="margin: 5px; max-width: none;">      
                    <h2 class="mb-10 font-bold text-2xl md:text-4xl" style=" margin: auto; margin-bottom: 10px;text-align: center;font-size: 1.6rem;">Someday Leads</h2>
                    <!-- <p>This is the follow up leads section.</p> -->
                    <table id="example4" class="lead-list stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                      <thead>
                        <tr>
                          <th data-priority="1">Name</th>
                          <th data-priority="2">Date Added</th>
                          <th data-priority="3">Campaign Name</th>
                          <th data-priority="4">Source</th>
          
                        </tr>
                      </thead>
                      <tbody>
                        {% for lead in someday_leads %}
                          <tr>
                              <td>
                                <a href="{% url 'leads:lead-detail' campaign_id=lead.campaign_id pk=lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                  {{ lead.first_name }}
                                </a>
                              </td>
                              <td>{{ lead.date_added }}</td>
                              <td>{{ lead.campaign}}</td>
                              <td>{{ lead.source}}</td>
                          </tr>
                        {% endfor %}                      
                      </tbody>
                    </table>
                </div>
              </section>
              
            
        </div>
    </div>                 
</div>
</div>
<!-- End of content -->


</div>


<!-- JS File -->
<script type="text/javascript" src={% static 'js/main.js' %}></script>
<script>
    const buttons = document.querySelectorAll('button');
    const sections = document.querySelectorAll('section');
    const table = document.querySelectorAll('table');
    buttons[0].classList.add('active');
    sections[0].style.display = 'block';
    const showSection = (index) => {
    buttons.forEach(button => button.classList.remove('active'));
    buttons[index].classList.add('active');
    sections.forEach(section => section.style.display = 'none');
    sections[index].style.display = 'block';        
    };
</script>
<!--Datatables -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
<script>
    $(document).ready(function() {

    // var table = $('#exampletot').DataTable({
            // 	responsive: true
            // })
          var table = $('#example1').DataTable({
                responsive: true
            })
    var table = $('#example2').DataTable({
                responsive: true
            })
    var table = $('#example3').DataTable({
                responsive: true
            })
    var table = $('#example4').DataTable({
                responsive: true
            })
            
    });    
</script> 


  
{% endblock content %}



    
  
   
       